body {
    background-image: linear-gradient(rgba(110, 203, 245, 0.1),rgba(88, 106, 226, 0.1)),url(../../public/img/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}