:root {
    --c-ltblu: #6ECBF5;
    --c-prpl: #C252E1;
    --c-lvdr: #E0D9F6;
    --c-rblu: #586AE2;
    --c-mdntblu: #2A2356;

}

.section-cards {
    padding: 1em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

